@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto";
  color: #757575;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 40px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list--not-decoration {
  list-style: none;
}

.nav__link--active {
  color: #2196f3;
  position: relative;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #ececec;
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: flex;
  }
}

.menu-btn {
  padding: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__nav {
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    padding-left: 0;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    padding-left: 0;
    gap: 50px;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts__map {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__map {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .contacts__email,
.contacts__number {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__email,
.contacts__number {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .nav__link--active {
    color: #2196f3;
  }
  .nav__link--active::after {
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1.5px;
    left: 0;
    background: #2196f3;
    border-radius: 2px;
    display: block;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link--active {
    color: #2196f3;
  }
  .nav__link--active::after {
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1.5px;
    left: 0;
    background: #2196f3;
    border-radius: 2px;
    display: block;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon--phone {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon--email {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}

.header__logo--blue {
  font-family: "Raleway";
  color: #2196f3;
}

.hero {
  max-width: 1600px;
  padding: 118px 0;
  background: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/background-mobile@2x.jpg);
  background-position: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/background-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/background-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/background@2x.jpg);
  }
}

.hero__buttom {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 24px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__buttom:hover, .hero__buttom:focus {
  background: #188ce8;
}
@media screen and (min-width: 1200px) {
  .hero__buttom {
    padding: 10px 32px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  color: #ffffff;
  margin: 0 auto 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 696px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 480px) {
  .benefits__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}
.benefits__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
}

.icon-attention::before {
  background-image: url(../images/icon/benefits1.svg);
}

.icon-punctuality::before {
  background-image: url(../images/icon/benefits2.svg);
}

.icon-planning::before {
  background-image: url(../images/icon/benefits3.svg);
}

.icon-technologies::before {
  background-image: url(../images/icon/benefits4.svg);
}

.benefits__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__descr {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__list {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-direction: row;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__content {
  padding: 24px;
}
@media screen and (min-width: 1200px) {
  .team__content {
    padding: 30px;
  }
}

.icon__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__link:hover, .icon__link:focus {
  color: #ffffff;
  background: #2196f3;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon__svg {
  fill: currentColor;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 1199px) {
  .business {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .business {
    padding: 0 0 94px;
  }
}

.business__list {
  display: flex;
  gap: 30px;
}

.business__item {
  width: 370px;
  position: relative;
}

.business__dscr {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .customers__list {
    flex-wrap: nowrap;
  }
}

.customers__item {
  width: 210px;
}
@media screen and (max-width: 1199px) {
  .customers__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.customers__link {
  width: 210px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
    flex-wrap: wrap;
  }
}

.customers__icon {
  fill: currentColor;
}

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__list {
  margin-bottom: 9px;
}

.address {
  margin-top: 20px;
}

.address__email,
.address__number {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address__map {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.all-contacts__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

.icon-social__cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .icon-social__cta {
    margin-top: 0;
  }
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: start;
  }
}

@media screen and (max-width: 1199px) {
  .all-contacts {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .all-contacts {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .all-contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.icon-social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .icon-social__list {
    justify-content: start;
  }
}

@media screen and (max-width: 1199px) {
  .icon-social {
    width: 50%;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-social {
    justify-content: start;
    margin-right: 60px;
  }
}

.icon-social__link {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social__link:hover, .icon-social__link:focus {
  background: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .subscription__form {
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-right: 12px;
    gap: 0;
  }
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__input {
  width: 300px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  outline: none;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__btn {
  background-color: #2196f3;
  color: #ffffff;
}

.subscription__btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  align-items: center;
  display: flex;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__btn::after {
  content: "";
  background-image: url(../images/icon/icon-send.svg);
  height: 24px;
  width: 24px;
  margin-left: 10px;
}
.subscription__btn:hover {
  background: #188ce8;
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow: auto;
  z-index: 9999999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding: 40px;
  width: 100%;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 330px) {
  .modal {
    padding: 40px 10px;
  }
}
@media screen and (min-width: 331px) and (max-width: 470px) {
  .modal {
    padding: 40px 20px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  background: #ffffff;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
}

.modal__icon-close {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__icon-close {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form {
  text-align: center;
  width: 100%;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.input-content {
  position: relative;
}

.form__checkbox-icon {
  fill: transparent;
}

.input-content__icon-name,
.input-content__icon-number,
.input-content__icon-email {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: block;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-content__name:focus-within + .input-content__icon-name, .input-content__number:focus-within + .input-content__icon-name, .input-content__email:focus-within + .input-content__icon-name,
.input-content__name:focus-within + .input-content__icon-number,
.input-content__number:focus-within + .input-content__icon-number,
.input-content__email:focus-within + .input-content__icon-number,
.input-content__name:focus-within + .input-content__icon-email,
.input-content__number:focus-within + .input-content__icon-email,
.input-content__email:focus-within + .input-content__icon-email {
  fill: #2196f3;
}

.form__input input {
  margin: 0;
  padding: 11px 12px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  color: #757575;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input input:focus-within {
  border: 1px solid #2196f3;
}
@media screen and (min-width: 768px) {
  .form__input input {
    width: 370px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input input {
    width: 448px;
    height: 40px;
  }
}

.form__textarea {
  color: #757575;
}
.form__textarea:focus-within {
  border: 1px solid #2196f3;
}

.form__textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  outline: none;
}

.form__input label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form__input textarea::placeholder {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
  margin-top: 20px;
}

.form__checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__checkbox-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
}

.form__checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  flex-wrap: wrap;
  justify-content: сenter;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .form__checkbox-text {
    justify-content: flex-start;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .form__checkbox-text {
    font-size: 14px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .form__checkbox-text {
    font-size: 14px;
    justify-content: flex-start;
  }
}

.form__checkbox-input:focus-within + .form__checkbox-text span {
  border: 2px solid #2196f3;
}

.form__checkbox-input:checked + .form__checkbox-text span {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}

.form__checkbox-input:checked + .form__checkbox-text .form__checkbox-icon {
  fill: #ffffff;
}

/* .text-checkbox {
  display: flex;
  align-items: center;
} */
/* .text-checkbox::before {
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
}
.input-check:checked + .text-checkbox::before {
  background-color: var(--accent-text-color);
  border: none;
  background-image: url(../images/icon/icon-checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
.form__link {
  color: rgb(33, 150, 243);
  text-decoration: dotted;
}

.form__checkbox input[type=checkbox] {
  width: 16px;
  height: 15px;
}

.form__btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  border: none;
  margin-top: 30px;
  color: #ffffff;
  line-height: 1.88;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover {
  background-color: #188ce8;
}

.mobile-backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 370ms cubic-bezier(0.4, 0, 0.2, 1), opacity 370ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 370ms cubic-bezier(0.4, 0, 0.2, 1), opacity 370ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mobile-backdrop {
    width: 100%;
  }
}

.mobile-backdrop--is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

@media screen and (min-width: 768px) {
  .mobile-backdrop {
    display: none;
  }
}
.mobile-backdrop__container {
  position: relative;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(70%);
  transform: translateX(70%);
  padding-top: 59px;
  padding-bottom: 36px;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  border-bottom-left-radius: 4px;
  -webkit-transition: -webkit-transform 370ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 370ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 370ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 370ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 370ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-backdrop--is-open .mobile-menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu-btn {
  z-index: 2;
}
.menu-btn:active {
  fill: #2196f3;
}

.mobile-menu-btn {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  fill: #212121;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  fill: #2196f3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-btn--is-open .mobile-menu-btn__icon {
  display: none;
}

.mobile-menu-btn__icon-close {
  display: none;
}

.mobile-menu-btn--is-open .mobile-menu-btn__icon-close {
  display: block;
}

.mobile-site-nav {
  margin-bottom: 32px;
  height: 100%;
}

.mobile-site-nav__link {
  padding-top: 16px;
  padding-bottom: 14px;
  display: inline-block;
  font-size: 25px;
  line-height: 1.176;
  color: #212121;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-site-nav__link:active {
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile-site-nav__link {
    font-size: 40px;
    text-align: center;
  }
}

.mobile-site-nav__link--active {
  position: relative;
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 10px;
}

.mobile-contacts__link {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  line-height: 1.176;
  color: #757575;
  font-size: 16px;
}

.social {
  display: flex;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px 0 10px;
}

.social__item--first {
  padding-left: 0;
}

.social__item--last {
  padding-right: 0;
  border: none;
}

.social__link {
  color: #2196f3;
  font-size: 10px;
}
@media screen and (min-width: 480px) {
  .social__link {
    font-size: 18px;
  }
}

.mobile-menu-btn--is-open .menu-btn__icon--menu {
  display: none;
}

.mobile__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile__number {
    font-size: 34px;
  }
}

.portfolio__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__btn {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__btn {
    margin-bottom: 48px;
  }
}

.portfolio__btn-item {
  font-family: "Roboto";
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn-item:hover, .portfolio__btn-item:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__link {
  text-decoration: none;
  display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__content {
  position: relative;
  overflow: hidden;
}

.portfolio__content-text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .portfolio__content-text {
    font-size: 10px;
  }
}

.portfolio__item:hover .portfolio__content-text {
  transform: translateY(0);
}

.portfolio__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    max-width: 370px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__descr {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}/*# sourceMappingURL=main.css.map */